@use '../../../styles/_util' as *
@use '../../../styles/_library' as *

.chat
  @include flex(space-between, space-between, column)
  width: 100%
  border-bottom: 1px solid $gray-300

  header
    @include flex(space-between, center, row)
    width: 100%
    padding: 1rem 3rem

    .nav
      svg
        color: $white
        font-size: 1.2rem
        transition: color 0.2s
        &:hover
          color: $green-500